@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(44, 54, 192);
    padding: 30px;
}

.container {
    position: relative;
    max-width: 850px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgb(58, 58, 58);
    perspective: 2800px;
}

.container .cover{
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    background: rgb(44, 54, 192);
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}

.container .cover .cover-text{
    position: absolute;
    color: #fff;
    margin: 220px 92px 0;
    object-fit: cover;
    z-index: 12;
    transition: all 0.1s ease;
}

.container #flip:checked ~ .cover{
    transform: rotateY(-180deg);
}

.container #flip:checked ~ .cover .cover-text{
    transform: rotateY(-180deg);
}

.container form{
    height: 100%;
    width: 100%;
    background: #fff;    
}

.container .form-content{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.form-content .login-form,
.form-content .signup-form{
    width: calc(100% / 2-25px);
    /*background: red ;*/
}

form .form-content .title{
    position: relative;
    font-size: 24px;
    font-weight: 900;
    color: rgb(19, 100, 133);
}

form .form-content .title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: rgb(0, 0, 0);
}

form .signup-form .title:before{
    width: 20px;
}

form .form-content .input-boxes{
    margin-top: 30px;
}

form .form-content .input-box{
    display: flex;
    align-items: center;
    margin: 15px 0;
    height: 50px;
    width: 100%;
    position: relative;
}

form .form-content .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 900;
    border-bottom: 2px solid rgb(167, 167, 167);
    transition: all 0.3s ease;
}
.form-content .input-box input:focus,
.form-content .input-box input:valid{
    border-color: rgb(44, 54, 192);
}

.form-content .input-box i{
    position: absolute;
    color: rgb(44, 54, 192);
    font-size: 17px;
}

form .form-content .text{
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

form .form-content .text a{
    font-weight: 900;
    text-decoration: none;
}

form .form-content .text a:hover{
    text-decoration: underline;
}

form .form-content .button{
    color: #fff;
    margin-top: 40px;
}

form .form-content .button input{
    color: #fff;
    background: rgb(44, 54, 192);
    border-radius: 5px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

form .form-content .button input:hover{
    background: rgb(0, 0, 0);
}

form .form-content label{
    color: rgb(44, 54, 192);
    cursor: pointer;
    transition: all 0.4s ease;
}

form .form-content label:hover{
    color: #000;
    font-size: 16px;
    text-decoration: underline;
}

form .form-content .login-text,
form .form-content .signup-text{
    text-align: center;
    margin-top: 25px;
}

.container #flip{
    display:  none;
}

@media (max-width: 730px){
    .container .cover{
        display: none;
    }
    .form-content .login-form,
    .form-content .signup-form{
    width: 100%;
    }
    .form-content .signup-form{
        display: none;
    }

    .container #flip:checked ~ form .signup-form{
        display: block;
    }
    .container #flip:checked ~ form .login-form{
        display: none;
    }
}